
{% extends "base.html" %}

{% block title %}About - Personal Portfolio{% endblock %}

{% block content %}
  <section id="about">
    <h2>About Me</h2>
    <p>An Electronics and Communication student passionate about leveraging technical skills in hardware and software domains. Eager to 
    contribute to dynamic projects, with a keen interest in software development, AI, and embedded systems, while supporting 
    organizational growth and advancing professionally.</p>
    <br>
    <h2>Skills</h2>
    <div class="skills-icons"> 
      <i class='bx bxl-python'></i>
      <i class='bx bxl-html5' ></i>
      <i class='bx bxl-css3' ></i>
      <i class='bx bxl-javascript' ></i>
      <i class="fa-solid fa-c"></i>
      <i class="fas fa-database"></i>
    </div>
  </section>
{% endblock %}
