

{% extends "base.html" %}

{% block title %}Portfolio - Personal Portfolio{% endblock %}

{% block content %}
  <section id="portfolio">
    <p>Here are a few projects I've worked on recently:</p><br>
    <div class="tabs">

          {% for project in projects %}
            <div class="project-card">

              <img src="{{ project.image.url }}" alt="{{ project.title }}">

              <div class="overlay">
                {% if project.icon %}
                  <i class="{{ project.icon }}"></i>
                {% endif %}
                
                <h3>{{ project.title }}</h3>
                <p>{{ project.description }}</p>
                <a href="{{ project.link }}" class="btn">Checkout</a>
              </div>

            </div>
          {% endfor %}

      
    </div>
  </section>
{% endblock %}



<!-- <div>
        <i class='bx bx-heart-circle'></i><h3>Portable ECG Monitoring System</h3>  
        <p>A health monitoring system.</p><br>
        <a id="anctag" href="https://github.com/AshwithD/Portable-ECG-Monitoring-System">Checkout</a>
      
      </div>

      <div>
        <i class="fa-solid fa-business-time"></i><h3> Trade Finance Blockchain Explorer</h3> 
        <p>Blockchain-based platform for tracking and managing trade finance transactions.</p><br>
        <a id="anctag" href="https://trade-finance-blockchain-explorer.vercel.app/">Checkout</a>
      </div>

      <div>
        <i class="fa-solid fa-robot"></i><h3> AI Powered CRM for HCP Interactions</h3> 
        <p>AI-powered CRM for logging HCP interactions using LangGraph and LLMs.</p><br>
        <a  id="anctag" href="https://ai-crm-hcp-nu.vercel.app/">Checkout</a>
      </div>

      <div>
        <i class="fa-brands fa-bots"></i><h3> Binance Futures Testnet Trading Bot</h3> 
        <p>Application to place and manage Binance USDT-M Futures Testnet trades.</p><br>
        <a id="anctag"  href="https://binance-futures-testnet-ui.streamlit.app/">Checkout</a>
      </div>

      <div>
        <i class="fa-solid fa-cloud"></i><h3> Weather Dashboard</h3> 
        <p>A simple web app to show real-time weather.</p><br>
        <a id="anctag" href="https://ashwithd.github.io/Weather-Dashboard/">Checkout</a>
      </div>
 -->

 <!-- {% for project in projects %}
        <div>
          <img src="{{ project.image.url }}" alt="{{ project.title }}" style="width: 100%; border-radius:10px;">
          <h3>{{ project.title }}</h3>
          <p>{{ project.description }}</p>
          <p><strong>{{ project.tech_stack }}</strong></p>
          <a id="anctag"href="{{ project.link }}">Checkout</a>
        </div>
      {% endfor %} -->
