{% extends "base.html" %}

{% block title %}Services - Personal Portfolio{% endblock %}

{% block content %}
  <section id="services">
    <h2>Services</h2>
    <div class="tabs">
      <div>
        <i class='bx bx-code-alt'></i><h3>Web Development (Beginner) </h3>
        <p>Capable of building responsive static websites using HTML, CSS, and basic JavaScript.</p><br>
      </div>
      <div>
       <i class='bx bx-chip'></i><h3>  Embedded Systems Development </h3> 
        <p>Experience in designing and implementing microcontroller-based projects using Arduino and ESP32.</p><br>
      </div>
      <div>
        <i class='bx bx-movie-play'></i><h3>Video Editing (Mobile)  </h3>
        <p>Proficient in editing short-form videos and reels using mobile-based video editing applications.</p><br>
      </div>
    </div>
  </section>
{% endblock %}
